foot {
  display: grid;
  /* Here aligning 6 containers in row and dividing each in equal fraction of space. */
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(24, 41, 53, 255);
  color: white;
  padding: 10px;
  font-size: small;

  left: 0;
  width: 100%;
  position: absolute;
  font-family: none;
}
/* footer .row1{
  grid-column-start: 1;
} */

.haha2 {
  font-family: none;
  grid-column-start: 2;
}
.haha3 {
  grid-column-start: 3;
}
.haha4 {
  grid-column-start: 4;
  padding: 50px;
}
.haha5 {
  /* display: block; */
  grid-column-start: 1;
  grid-column-end: -1;
}
a:link {
  color: lightgray;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightgray;
}
.box {
  padding: 10px;
  border: 2px solid gray;
  width: 100%;
}
button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100px;
  border: 2px solid gray;
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
.body {
  display: grid;
  /* Here aligning 3 containers in row and dividing each in equal fraction of space. */
  grid-template-columns: 10% 50% 20%;
  /* padding: 10px; */
  /* giving space */
  grid-gap: 5%;
}
.box1 {
  /* position: fixed; */
  /* width: 100%; */
  border: 2px dashed black;
  padding: 5%;
  margin: 5%;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: end;
}

.wrapper .icon {
  position: relative;
  /* background: #fff; */
  border-radius: 5%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 2px solid darkgray;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: rgba(255, 0, 0, 255);
  color: #fff;
}
.wrapper .linkedln:hover,
.wrapper .linkedln:hover .tooltip,
.wrapper .linkedln:hover .tooltip::before {
  background: #0077b7;
  color: #fff;
}
/* .wrapper .lastline{
  justify-content: flex-start;
} */
table {
  width: 100%;
}
.line {
  border-bottom: solid 2px rgba(255, 255, 255, 0.15);
  height: 20px;
  margin-bottom: 22px;
}
.card {
  margin: 10px;
}
.abovephoto {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 68%;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 10px;
  height: 50px;
  /* padding: 10px; */
}
.abovephoto img {
  width: 70px;
}
.kuc {
  display: flex;
  padding-top: 20px;
  height: 60px;
  font-size: small;
}
/* *{
  background-color: black;
  color: white;
} */

 
  @media (max-width: 768px) {
    .body {
      display: grid;
      grid-template-columns: 0% 100% 0%;
      grid-gap: 5%;
    }
    .body #navbar-example3{
      color: white;
    }
  }
  /* float : left;
  width: percentage((@columns / @grid-columns)); */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --color-hover: rgba(32, 59, 232);
    --transition: all 0.2s ease;
  }
  
  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #ffffff;
  }
  
  .dark-mode {
    --color-white: #000;
    --color-black: #fff;
    --color-bg: #1d1b31;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 78px;
    height: 100%;
    background: var(--color-white);
    padding: 8px 16px;
    transition: var(--transition);
  }
  
  .sidebar.expand {
    width: 250px;
    transition: var(--transition);
  }
  
  .nav-header {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .nav-header .logo {
    color: var(--color-black);
    font-size: 23px;
    font-weight: 600;
    opacity: 0;
    transition: var(--transition);
    width: 150px;
  }
  
  .sidebar.expand .nav-header .logo {
    opacity: 1;
    transition: var(--transition);
  }
  
  .nav-header .btn-menu {
    position: absolute;
    color: var(--color-black);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .sidebar.expand .nav-header .btn-menu {
    margin-right: 0;
  }
  
  .nav-links {
    margin-top: 20px;
    height: 100%;
  }
  
  .nav-links li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  
  .nav-links i {
    color: var(--color-black);
    height: 50px;
    min-width: 50px;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
  }
  
  .nav-links input {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
    outline: none;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 12px;
    background: var(--color-bg);
    padding: 0;
  }
  
  .sidebar.expand .nav-links input {
    width: 100%;
    padding: 0 20px 0 40px;
  }
  
  .nav-links li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: var(--color-white);
  }
  
  .nav-links li:hover a {
    background: var(--color-hover);
  }
  
  .nav-links li:hover i {
    color: var(--color-white);
  }
  
  .nav-links li a .title {
    color: var(--color-black);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    display: none;
    transition: var(--transition);
  }
  
  .sidebar.expand .nav-links li a .title {
    display: block;
    transition: var(--transition);
  }
  
  .nav-links li:hover a .title {
    color: var(--color-white);
  }
  
  .nav-links li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    color: var(--color-black);
    font-size: 15px;
    white-space: nowrap;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
  }
  
  .sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sidebar.expand .tooltip {
    display: none;
  }
  
  .nav-links .search-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-25px);
    font-size: 23px;
    color: var(--color-black);
    border-radius: 12px;
    background: var(--color-white);
    transition: var(--transition);
  }
  
  .sidebar.expand .nav-links .search-btn {
    background: transparent;
    transition: var(--transition);
  }
  
  .sidebar.expand .nav-links li:hover .search-btn {
    color: var(--color-black);
  }
  
  .nav-links .search-btn:hover {
    background: var(--color-hover);
  }
  
  .theme-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 250px;
    left: 0;
    padding: 8px 16px;
  }
  
  .theme-wrapper .theme-icon {
    font-size: 20px;
    color: var(--color-black);
    display: none;
    transition: var(--transition);
  }
  .sidebar.expand .theme-wrapper .theme-icon {
    display: block;
  }
  
  .theme-wrapper p {
    font-size: 16px;
    color: var(--color-black);
    font-weight: 400;
    display: none;
    transition: var(--transition);
  }
  
  .sidebar.expand .theme-wrapper p {
    display: block;
  }
  
  .theme-wrapper .theme-btn {
    width: 40px;
    height: 20px;
    background: var(--color-bg);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .theme-wrapper .theme-btn .theme-ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--color-black);
    border-radius: 50%;
    top: 2px;
    left: 3px;
    transition: var(--transition);
  }
  
  .theme-wrapper .theme-btn .theme-ball.dark {
    left: 20px;
  }
  
  .home {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    min-height: 100vh;
    background: var(--color-bg);
    z-index: 6;
    transition: var(--transition);
  }
  
  .sidebar.expand ~ .home {
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--transition);
  }
  
  /* .home p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-black);
    display: inline-block;
    margin: 20px;
    white-space: nowrap;
  } */