foot {
  display: grid;
  /* Here aligning 6 containers in row and dividing each in equal fraction of space. */
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(24, 41, 53, 255);
  color: white;
  padding: 10px;
  font-size: small;

  left: 0;
  width: 100%;
  position: absolute;
  font-family: none;
}
/* footer .row1{
  grid-column-start: 1;
} */
.haha2 {
  font-family: none;
  grid-column-start: 2;
}
.haha3 {
  grid-column-start: 3;
}
.haha4 {
  grid-column-start: 4;
  padding: 50px;
}
.haha5 {
  /* display: block; */
  grid-column-start: 1;
  grid-column-end: -1;
}
a:link {
  color: lightgray;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightgray;
}
.box {
  padding: 10px;
  border: 2px solid gray;
  width: 100%;
}
button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 100px;
  border: 2px solid gray;
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
.body {
  display: grid;
  /* Here aligning 3 containers in row and dividing each in equal fraction of space. */
  grid-template-columns: 20% 50% 20%;
  /* padding: 10px; */
  /* giving space */
  grid-gap: 5%;
}
.box1 {
  /* position: fixed; */
  width: 100%;
  border: 2px dashed black;
  padding: 5%;
  margin: 5%;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: end;
}

.wrapper .icon {
  position: relative;
  /* background: #fff; */
  border-radius: 5%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 2px solid darkgray;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: rgba(255, 0, 0, 255);
  color: #fff;
}
.wrapper .linkedln:hover,
.wrapper .linkedln:hover .tooltip,
.wrapper .linkedln:hover .tooltip::before {
  background: #0077b7;
  color: #fff;
}
/* .wrapper .lastline{
  justify-content: flex-start;
} */
table {
  width: 100%;
}
.line {
  border-bottom: solid 2px rgba(255, 255, 255, 0.15);
  height: 20px;
  margin-bottom: 22px;
}
.card {
  margin: 10px;
}
.abovephoto {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 68%;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 10px;
  height: 50px;
  /* padding: 10px; */
}
.abovephoto img {
  width: 70px;
}
.kuc {
  display: flex;
  padding-top: 20px;
  height: 60px;
  font-size: small;
}
